.bg {
    position: relative;
    text-align: center;
    object-fit: cover;
    max-height: 1100px;
}

.landingContent {
    display: inline-block;
}


.landingText {
    position: absolute;
    top: 40%;
    left: 20%;
    color: beige;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.landingText .line {
    opacity: 0;
    animation: typing 2s steps(20) forwards;
    margin-bottom: 10px;

}

.landingText .line:nth-child(1) {
    animation-delay: 0s;
}

.landingText .line:nth-child(2) {
    animation-delay: 1s;
    /* Chaque ligne apparaît 2 secondes après la précédente */
}

.landingText .line:nth-child(3) {
    animation-delay: 2s;
    /* Chaque ligne apparaît 4 secondes après la précédente */
}

@keyframes typing {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.landingText span {
    display: block;
}

.customBtn {
    background: rgb(5, 117, 117);
    border: none;
    margin: 1.5rem;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 62%;
    left: 19%;
    font-weight: 500;
    font-size: medium;
}



.fa-brands {
    width: 5rem;
    font-size: 5rem;
    background: white;
    padding: 17px;
    border-radius: 50%;
    margin-right: 2rem;
    height: 5rem;
}

.landing-content-box {
    display: flex;
}


@media (max-width: 768px) {
    .landingText {
        top: 50%;

        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 28px;

    }

    .customBtn {
        top: 70%;

        left: 50%;
        transform: translateX(-50%);
        text-align: center;

    }

    .fa-brands {
        margin: 0 0.5rem;

    }
}