.bg {
    position: relative;
    text-align: center;
    object-fit: cover;
    max-height: 1100px;
}

.landingContent {
    display: inline-block;
}


.landingText {
    position: absolute;
    top: 40%;
    left: 20%;
    color: beige;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    /*white-space: nowrap;
    /* Empêche le texte de passer à la ligne */
    overflow: hidden;
}

.landingText .line {
    opacity: 0;
    animation: typing 2s steps(20) forwards;
    margin-bottom: 10px;
    /* Espacement entre les lignes */
}

.landingText .line:nth-child(1) {
    animation-delay: 0s;
}

.landingText .line:nth-child(2) {
    animation-delay: 1s;
    /* Chaque ligne apparaît 2 secondes après la précédente */
}

.landingText .line:nth-child(3) {
    animation-delay: 2s;
    /* Chaque ligne apparaît 4 secondes après la précédente */
}

@keyframes typing {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.landingText span {
    display: block;
}

.socialIcons {
    position: absolute;
    top: 60%;
    left: 20%;
}

.fa-brands {
    width: 5rem;
    font-size: 5rem;
    background: white;
    padding: 17px;
    border-radius: 50%;
    margin-right: 2rem;
    height: 5rem;
}

.landing-content-box {
    display: flex;
}

/* Ajoutez une règle de media query pour gérer la mise en page en mode responsive */
@media (max-width: 768px) {
    .landingText {
        top: 50%;
        /* Ajustez la position du texte en mode responsive */
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 28px;
        /* Ajustez la taille de la police en mode responsive */
    }

    .socialIcons {
        top: 70%;
        /* Ajustez la position des icônes en mode responsive */
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* Centrez les icônes horizontalement */
    }

    .fa-brands {
        margin: 0 0.5rem;
        /* Ajustez la marge entre les icônes en mode responsive */
    }
}