.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.skill-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.skill-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 48px;
}

.skill-box {
    cursor: pointer;
    padding: 1rem;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: rgb(5, 117, 117);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: rgb(5, 117, 117);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.skill-title:hover::after,
.skill-title:hover::before {
    transform: scaleX(1);
}

.skill-title h3 {
    margin-top: 0.5rem
}

.skill-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
}

.skill-title:hover .skill-img {
    animation: swing 0.5s ease-in-out forwards;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
        /* Basculez vers la gauche */
    }

    50% {
        transform: rotate(0deg);
        /* Revenez à la position de base */
    }

    75% {
        transform: rotate(5deg);
        /* Basculez vers la droite */
    }

    100% {
        transform: rotate(0deg);
        /* Revenez à la position de base */
    }
}


.skill-icon {
    width: 65px;
    z-index: 2;
}

.skill-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}