.navbar {
    height: 5rem;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(236, 231, 215);
    border-bottom: 1px solid black;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.desktopMenuListItem:hover {
    color: rgb(33, 39, 130);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(33, 39, 130);
}

.menuTrigger {
    display: none;
}

@media (max-width: 768px) {

    .navbar {
        height: auto;
    }

    .desktopMenu {
        display: none;
        transform: translateX(100%);
        transition: transform 0s ease-in-out;
        animation: slideIn 0.5s forwards;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .desktopMenu.is-open {
        display: flex;
        flex-direction: column;
        background: rgb(236, 231, 215);
        top: 100%;
        position: absolute;
        right: 0%;
        border: black;
        animation: slideOut 0.5s reverse forwards;
        border-left: 1px solid;
        border-bottom: 1px solid;

    }

    @keyframes slideOut {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(100%);
        }
    }

    .menuTrigger {
        display: block;
    }
}